body{
    width: 100%;
    background-color:  darkcyan;
    color: bisque;
}
.container{
    width: 80%;
    background-color: rgb(91, 146, 163);
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    row-gap: 20px;
}
.card{
    background-color: rgb(37, 116, 79);
    margin: 4px;
}
   
.header{
    background-color: rgb(127, 129, 31);
}